.connexion-page,
.admin-login {
    width: 100vw;
    height: 100vh;
}


.user-login,
.user-register,
.admin-login {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    align-items: center;
}

.login-form,
.register-form,
.admin-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em
}

.form-section {
    display: flex;
    flex-direction: column;
}

.submit-form {
    background-color: var(--66-green);
    color: var(--white);
    font-size: 1.5em;
    border-radius: 5px;
}

.header-register-login {
    display: flex;

    justify-content: center;
    text-align: center;

    font-size: 1.5em;

    background-color: var(--33-green);
}

.header-details {
    width: 100%;
}

.active {
    background-color: var(--66-green);
}

.redirect-admin {
    text-align: center;
}

.message-update {
    font-weight: bold;
    color: var(--red);
}